#top_gnb_commerce {
  overflow: hidden;
}

#top_gnb_commerce > div.menu {
  float: left;
  width: 140px;
  height: 50px;
  background: url('../../../assets/icons/top_gnb.png')
}

#top_gnb_commerce > div.item_1 {
  background-position: 0px 0px;
}
#top_gnb_commerce > div.item_2 {
  background-position: 0px -50px;
}
#top_gnb_commerce > div.item_3 {
  background-position: 0px -100px;
}
#top_gnb_commerce > div.item_4 {
  background-position: 0px -150px;
}
#top_gnb_commerce > div.item_5 {
  background-position: 0px -200px;
}
#top_gnb_commerce > div.item_6 {
  background-position: 0px -250px;
}
#top_gnb_commerce > div.item_7 {
  background-position: 0px -300px;
}
#top_gnb_commerce > div.item_1:hover {
  background-position: 0px -350px;
}
#top_gnb_commerce > div.item_1.active {
  background-position: 0px -350px;
}
#top_gnb_commerce > div.item_2:hover {
  background-position: 0px -400px;
}
#top_gnb_commerce > div.item_3:hover {
  background-position: 0px -450px;
}
#top_gnb_commerce > div.item_4:hover {
  background-position: 0px -500px;
}
#top_gnb_commerce > div.item_5:hover {
  background-position: 0px -550px;
}
#top_gnb_commerce > div.item_6:hover {
  background-position: 0px -600px;
}
#top_gnb_commerce > div.item_7:hover {
  background-position: 0px -650px;
}

#bottom_gnb_commerce {
  overflow: hidden;
}

#bottom_gnb_commerce > div.menu {
  float: left;
  width: 98px;
  height: 80px;
  background: url('../../../assets/icons/bottom_gnb.png');
}

#bottom_gnb_commerce > div.item_1 {
  background-position: 0px 0px;
}
#bottom_gnb_commerce > div.item_2 {
  background-position: 0px -80px;
}
#bottom_gnb_commerce > div.item_3 {
  background-position: 0px -160px;
}
#bottom_gnb_commerce > div.item_4 {
  background-position: 0px -240px;
}
#bottom_gnb_commerce > div.item_5 {
  background-position: 0px -320px;
}
#bottom_gnb_commerce > div.item_6 {
  background-position: 0px -400px;
}
#bottom_gnb_commerce > div.item_7 {
  background-position: 0px -480px;
}
#bottom_gnb_commerce > div.item_8 {
  background-position: 0px -560px;
}
#bottom_gnb_commerce > div.item_9 {
  background-position: 0px -640px;
}
#bottom_gnb_commerce > div.item_10 {
  background-position: 0px -720px;
}
#bottom_gnb_commerce > div.item_1:hover {
  background-position: 0px -800px;
}
#bottom_gnb_commerce > div.item_2:hover {
  background-position: 0px -880px;
}
#bottom_gnb_commerce > div.item_3:hover {
  background-position: 0px -960px;
}
#bottom_gnb_commerce > div.item_4:hover {
  background-position: 0px -1040px;
}
#bottom_gnb_commerce > div.item_5:hover {
  background-position: 0px -1120px;
}
#bottom_gnb_commerce > div.item_6:hover {
  background-position: 0px -1200px;
}
#bottom_gnb_commerce > div.item_7:hover {
  background-position: 0px -1280px;
}
#bottom_gnb_commerce > div.item_8:hover {
  background-position: 0px -1360px;
}
#bottom_gnb_commerce > div.item_9:hover {
  background-position: 0px -1440px;
}
#bottom_gnb_commerce > div.item_9.active {
  background-position: 0px -1440px;
}
#bottom_gnb_commerce > div.item_10:hover {
  background-position: 0px -1520px;
}